.coffee-info
  %div
    %center
      每一種咖啡豆都有成為義式咖啡的潛能，
  %div.mt-3
    %center
      我們喜愛義式的濃烈激情，也喜愛單品的清新多元，
  %div.mt-3
    %center
      並嘗試讓不同特色的風味也能在義式中嶄露頭角。
  %div.mt-3
    %center
      來自世界各地的咖啡豆，用心挑選搭配，找出完美平衡。
