.coffee-info
  %div
    %center
      產區皆來自巴拿馬的單品咖啡，莊園海拔介於1300-1600m之間，與境內不同小農莊園合作，我們主張環保、永續，有機肥料耕作。
  %div.mt-3
    %center
      每一支豆子皆有獨特的風味特色，不同處理法、烘焙度。
  %div.mt-3
    %center
      每一期隨機收到一種單品咖啡，保證接單現烘，讓您收到最新鮮的咖啡豆。
