#footer
  #confact
    %div.font-13
      台北市松山區
    %div.font-13
      Bade Rd. SongShan Dist, Taipei City 105, Taiwan
  #follow
    %div.font-13
      Hola@Altitudetosteria.com
    %div.font-13
      %span
        = icon('fab', 'facebook-f')
      %span.ml-2
        = icon('fab', 'twitter')
      %span.ml-2
        = icon('fab', 'instagram')
#info
  @copyright xxxxxxx
