.modal.fade.product-modal#espresso-model{:role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-body
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        .container-fluid
          義式咖啡 / Espresso
          %div.mt-3
            每一種咖啡豆都有成為義式咖啡的潛能，我們喜愛義式的濃烈激情，也喜愛單品的清新多元，並嘗試讓不同特色的風味也能在義式中嶄露頭角。來自世界各地的咖啡豆，用心挑選搭配，找出完美平衡。
