<div class="wrapper col-md-3 d-none d-md-block">

  <nav id="sidebar">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
      <h3>後台專用 Sidebar</h3>
    </div>

    <!-- Sidebar Links -->
    <ul class="list-unstyled components">
      <li><%= link_to "Home", admin_root_path %></li>
      <li><a href="#">訂單管理</a></li>

      <!-- Product -->
      <li>
        <a href="#product-menu" data-toggle="collapse" aria-expanded="false">
          <span class="inline-block">商品管理</span>
          <span class="inline-block" style="float:right;">
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </span>
        </a>
      </li>
      <ul class="collapse list-unstyled" id="product-menu">
        <li><a href="/admin/products">商品列表</a></li>
        <li><a href="/admin/products/new">新增商品</a></li>
      </ul>

      <!-- Article -->
      <li>
        <a href="#article-menu" data-toggle="collapse" aria-expanded="false">
          <span class="inline-block">文章管理</span>
          <span class="inline-block" style="float:right;">
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </span>
        </a>
      </li>
      <ul class="collapse list-unstyled" id="article-menu">
        <li><%= link_to '文章列表', admin_articles_path %></li>
        <li><%= link_to 'New Article', new_admin_article_path %></li>
      </ul>


      <li><a href="#">網站設定</a></li>
    </ul>
    <ul class='list-unstyled '>
      <li><%= link_to '回網站前台', root_path %></li>
    </ul>
  </nav>

</div>
