#account-order-app {
  .content {
    margin-top:150px;
    margin-bottom: 80px;
    padding: 0 10%;

    // 訂單資訊
    .info-box{
      display: inline-block;
      margin-top: 30px;
      h5 {
        padding:10px 0;
        border-bottom: 2px solid #708a93;
      }
      font-size: 15px;
      display: inline-block;
      padding: 20px 30px;
      width: 100%;
      height: 300px;
      border:1px solid #708a93;
      border-radius: 10px;
      color: #555;
    }
  }
}
