

<div id="app">
  {{ message }}


<button v-on:click='say_hi()'>
  按我
</button>

</div>


<!-- <script type="text/javascript">
  window.onload = function(e) {
    console.log('hi')
      var app = new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue!'
    }
  })
  }

</script> -->