#trial
  .row
    .col-md-6

    .col-md-6.mt-5
      %div.white.font-55.mt-5
        立刻索取免費
      %div.white.lighter(style='font-size: 41px;')
        巴拿馬精品咖啡豆
      %div.white.font-25.lighter.font-italic(style='margin-left: 95px;')
        數量有限，送完為止!


