defaults: &defaults

development:
  <<: *defaults
  ecpay:
    merchant_id: ''
    hash_key: ''
    hash_iv: ''
    host: ''
  mailgun:
    api_key: ''
    domain: ''

test:
  <<: *defaults

production:
  <<: *defaults
