.modal.fade.product-modal#e-commerce-contract-modal{:role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-body
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        .container-fluid
          .row
            .col-md-12.col-12
              %div
                歡迎您在Altitude Tosteria進行消費；請您先詳細閱讀以下約定條款：
              %div.mt-3
                本約定條款適用於Altitude Tosteria線上購物網站，以下簡稱AT電子商務內之商品或服務；
              %div
                本約定條款的目的，是為了保護「泛大陸有限公司」Altitude Tosteria以及您的利益，如果您點選「我同意」或類似語意的選項、或在AT電子商務進行訂購、付款、消費或委託代購等相關行為，就表示您事先已經知悉、並同意本約定條款的所有約定。
              %div.mt-3
                一、使用者
                如果您要在AT電子商務進行消費，您必須在首次訂購流程中先填入您所合法取得且仍有效使用之電子郵件信箱或其他第三方認證，並自行設定一組密碼；當您第一次在AT電子商務留存相關資料或完成消費，本服務系統將紀錄您所填入之電子郵件信箱或手機號碼及您所自行設定之密碼，您並同意日後應以該組電子郵件信箱或手機號碼及密碼登錄後於AT電子商務進行消費。
              %div
                您有自行妥善保管您留存於本公司系統之電子郵件帳號或手機號碼及所自行設定密碼之義務，不得將該電子郵件帳號或手機號碼及密碼透露或提供給第三人知悉、或出借或轉讓第三人使用。對於所有使用該組電子郵件帳號或手機號碼及密碼登入本服務系統所為之一切行為，您同意由您負其責任。
              %div
                若您發現您的電子郵件帳號或手機號碼及密碼遭人冒用，請即時通知AT電子商務；AT電子商務將於獲悉您的電子郵件帳號或手機號碼及密碼遭冒用時，立即暫停該電子郵件帳號或手機號碼所生交易之處理及後續利用。 
              %div.mt-3
                二、個人資料安全
              %div
                對於您的個人資料，AT電子商務將遵守個人資料保護相關法令規定。關於個人資料保護及隱私權政策，請參閱AT電子商務隱私權聲明。
              %div
                為了完成交易，包括且不限於完成付款及交付等，您必須擔保在訂購過程中所留存的所有資料均為完整、正確、與當時情況相符的資料，如果事後有變更，您應該即時通知AT電子商務。
              %div
                對於您所留存的資料，AT電子商務除了採用安全交易模式外，並承諾負保密義務，除了為完成交易或提供顧客服務而提供給相關商品或服務之配合廠商或代購業者以外，不會任意洩漏或提供給第三人。依您所進行之交易之性質，如涉及國際運送，相關配合廠商或代購業者可能位於國外，為完成交易所必須提供給相關配合廠商或代購業者之資料，即可能涉及國際傳輸。
              %div
                在下列情況下，AT電子商務有權查看或提供您的個人資料給有權機關、或主張其權利受侵害並提出適當證明的第三人：
              %div
                ※ 依法令規定、或依司法機關或其他有權機關的命令；
              %div
                ※ 為完成交易或執行本約定條款、或您違反本約定條款；
              %div
                ※ 為維護AT電子商務系統的正常運作及安全；
              %div
                為保護AT電子商務、其他使用者或第三人的合法權益。
              %div.mt-3
                三、線上訂購
              %div
                除本約定條款外，商品銷售網頁及訂購流程中相關網頁上所呈現之相關資訊，包括相關交易條件、限制及說明等，亦為契約之一部分。
              %div
                您一旦在Altitude Tosteria依照網頁所定方式、條件及流程完成訂購程序，就表示您提出要約、願意依照本約定條款及相關網頁上所載明的約定內容、交易條件或限制，訂購該商品或服務。您所留存的資料如地址、電話如有變更，應即時通知Altitude Tosteria協助進行相關處理，而且您不得以資料不符為理由，否認訂購行為或拒絕付款。
              %div
                在您完成線上訂購程序以後，本系統會自動經由電子郵件或其他方式寄給您一封通知，但是該項通知只是通知您本系統已經收到您的訂購訊息，不代表交易已經完成或契約已經成立，Altitude Tosteria保留是否接受您的訂單的權利。如果Altitude Tosteria確認交易條件無誤、您所訂購之商品仍有存貨或所訂購之服務仍可提供、且無其他Altitude Tosteria無法接受訂單之情形，Altitude Tosteria會直接通知配合廠商出貨，不另行通知，但是您可以在網站上查詢出貨狀況。若交易條件有誤、商品無存貨、服務無法提供、或有Altitude Tosteria無法接受訂單之情形，Altitude Tosteria得拒絕接受訂購。
              %div
                若您選擇以信用卡支付價金，您在線上輸入信用卡相關資訊，目的是為了向發卡機構確認信用卡之有效性及取得交易授權，不表示您已經付款、也不代表交易已經完成或契約已經成立，Altitude Tosteria保留是否接受您的訂單的權利；在Altitude Tosteria接受您的訂購以前，您無需付款，Altitude Tosteria不會請領信用卡交易款項，該筆交易金額也不會出現在您的信用卡帳單中。若您選擇以信用卡支付價金、且以分期方式支付，則該等分期付款服務係由您的信用卡發卡機構提供，分期付款之債權債務關係存在於您與信用卡發卡機構之間，除相關網頁上有特別標示者外，您所需支付之利息及其計算方式、是否另有信用保險或保證人之設定或涉入等，均依照您與信用卡發卡機構間之相關約定內容定之，請注意查閱您與信用卡發卡機構間之相關約定。
              %div
                您瞭解並同意，雖然Altitude Tosteria會盡力維護相關資料的正確性，但Altitude Tosteria不以任何明示或默示的方式保證所有出現在網頁上、或相關訊息上的資料均為完整、正確、即時的資訊。關於相關商品或服務之訂購數量上限，依各該商品或服務銷售網頁及訂購流程中相關網頁之記載，超過可訂購數量者，Altitude Tosteria僅依該數量上限出貨。如果相關商品或服務的規格、圖片或說明有誤，仍以原廠、代理商、進口商、經銷商或服務提供者的資料為準。如果網頁上、或相關訊息所標示的價格有誤：
              %div
                ※若標示價格比正確價格高，Altitude Tosteria只會向您收取較低的正確價格；
              %div
                ※若標示價格比正確價格低，Altitude Tosteria保留拒絕接受訂單的權利。
              %div
                如果相關商品或服務的規格、圖片、說明、價格、或相關交易條件有誤，Altitude Tosteria得在您完成訂購程序後二日內，拒絕接受您的訂單。
              %div
                關於您所訂購之商品或服務，其運費之計價及負擔方式，依各該商品或服務銷售網頁及訂購流程中相關網頁之記載定之；如未記載，其運費由Altitude Tosteria負擔。
              %div
                您可以依照各該商品或服務銷售網頁及訂購流程中相關網頁所記載之方式、條件及限制，選擇您所訂購之商品或服務之交付地點及方式。
              %div
                您在Altitude Tosteria所進行的所有線上消費及與該等交易有關之事項，您和Altitude Tosteria都同意以電子文件為表示方法；Altitude Tosteria電腦系統將自動紀錄相關電子交易資料，您亦可經由網路於登入系統後自行查詢相關交易資料，如果您發現交易資料不正確，應立即通知Altitude Tosteria。
              %div
                關於消費申訴或爭議，您可以在登入系統後，依照線上客服系統所定之處理機制、程序及相關聯絡資訊提出申訴或爭議，Altitude Tosteria的客服人員將盡速為您提供服務。
              %div.mt-3
                四、關於退貨退款 依「通訊交易解除權合理例外情事適用準則」規範重點之二： 
              %div
                1、 易於腐敗、保存期限較短或解約時即將逾期。
              %div
                2、 依消費者要求所為之客製化給付。
              %div
                本公司一律不接受退費、退貨之要求。
              %div
                除非您所訂購的商品在未拆封的情況下發現重大瑕疵，您可以在法定的七日猶豫期間要求全額退費、退貨。 （請注意，猶豫期非試用期，拆封後便不受理任何退費、退貨之要求。） 您可以依消費者保護法第十九條第一項之規定，行使相關權利。
              %div
                關於退貨退款方式及條件，依商品銷售網頁及訂購流程中之相關網頁之記載。
              %div
                您所退回的商品，必須保持所有商品、贈品、附件、包裝、及所有附隨文件或資料在出貨當時狀態的完整性，如果有實體發票，並應連同發票一併退回及簽署折讓單等相關法令所要求之單據；否則，AT電子商務得拒絕接受您的退貨退款要求。
              %div
                您瞭解並同意，若因您要求退貨或換貨、或因Altitude Tosteria無法接受您全部或部分之訂單、或契約因故解除或失其效力，而需為您辦理退款事宜時，Altitude Tosteria得代您處理發票或折讓單等相關法令所要求之單據。
              %div.mt-3
                五、系統安全及備份
              %div
                AT電子商務將確保本系統具有符合一般可合理期待之安全性，如果您發現本系統有錯誤或疏失，請立即通知Altitude Tosteria。
              %div.mt-3
                六、契約之解釋
              %div
                本約定條款及相關網頁上所定各條、各項及相關約定之內容，如該條、該項、或該相關約定內容之全部或一部經法院認定為無效或不構成契約內容之一部，不影響其餘條項或其餘約定內容之效力；經法院認定為無效或不構成契約內容之一部之條項或約定內容，應依相關法令規定所允許之最大可能範圍內，為與原條項或原約定內容相符之解釋或補充。
              %div
                因本約定條款及相關網頁上所定之任一條項或相關約定所取得或可主張之權利，其行使或不行使，不影響依本約定條款及相關網頁上所定其他條項或相關約定所取得或可主張之權利之行使或不行使。依消費者保護法第十一條第二項之規定，定型化契約條款如有疑義時，應為有利於消費者之解釋。
              %div.mt-3
                七、其他約定
              %div
                您瞭解並同意，如果Altitude Tosteria將AT電子商務、及與其相關之權利義務關係及交易等合約移轉予第三人，則AT電子商務之權利義務關係、相關交易、以及相關資料等，包括且不限於相關之權利義務關係等，亦得一併移轉予該第三人承受、並由該第三人繼續提供服務。
              %div
                您瞭解並同意，如果Altitude Tosteria因故依法或依約必須對您負擔賠償或補償責任，則Altitude Tosteria之賠償或補償責任，應以退還有爭議之該筆交易之實收金額為賠償或補償責任之上限。
              %div.mt-3
                八、準據法及管轄權
              %div
                您在Altitude Tosteria所進行的所有線上訂購、交易或行為，以及本約定條款及相關網頁上之約定，都以中華民國法令為準據法。
              %div
                所有因為您在Altitude Tosteria進行線上訂購、交易或行為，以及因本約定條款或相關網頁上之約定所發生的糾紛，如果因此而涉訟，除法律另有強制規定者應依其規定外，都以台灣台北地方法院為第一審管轄法院。
              %div.mt-3
                本公司食品業者登錄字號：A-142868828-00000-4

            .col-md-12.col-12.mt-5
              .button-full{"aria-label" => "Close", "data-dismiss" => "modal"}
                我已閱讀完畢並同意


