= javascript_pack_tag 'admin/trial/index'
= stylesheet_pack_tag 'admin/trial/index'

#admin_trials_app.mt-5
  %loader
  // filter
  .d-flex
    .button-normal(v-on:click='set_filter("all")'
    v-bind:class='selectedCheck(this.filter, "all")')
      全部
    .button-normal.ml-2(v-on:click='set_filter("undone")'
    v-bind:class='selectedCheck(this.filter, "undone")')
      待處理
    .button-normal.ml-2(v-on:click='set_filter("shipped")'
    v-bind:class='selectedCheck(this.filter, "shipped")')
      已寄出
    .button-normal.ml-2(v-on:click='set_filter("reject")'
    v-bind:class='selectedCheck(this.filter, "reject")')
      已拒絕

  %div.mt-2
    目前總數 {{ trial_count }}

  %hr/
  // 試用申請列表
  %transition-group.mt-3(name="list" tag='div')
    %div.list-item(v-for="(trial, key) in trials" v-bind:key='key')
      %div
        姓名: {{trial.name}}
      %div
        信箱: {{trial.email}}
      %div
        地址: {{trial.address}}
      %div
        電話: {{trial.phone}}
      %div
        品名: {{trial.product_name}}
      %div
        申請時間: {{trial.created_at}}
      %div
        狀態: {{translate_status(trial.status)}}
      .d-flex.mt-2
        .button-normal.mr-1(v-on:click='option(key, "shipping")' v-if=' trial.status === "request" ')
          出貨
        .button-normal.mr-1(v-on:click='option(key, "reject")' v-if=' trial.status === "request" ')
          拒絕
        .button-normal(v-on:click='option(key, "reset")' v-if='can_be_reset(trial)')
          復原
      %hr


#props(data="#{props}")
