.mt-5
  %div
    #hello
      {{message}}
      %app
    - trials.each do |trial|
      %div
        %div
          = trial.name
        %div
          = trial.email
        %div
          = trial.address
        %div
          = trial.product_name
      %hr
