.user_navbar
  .inline-block(class='nav-left')
    / aaa
  .inline-block(class='nav-right')
    %div
      Home
    %div
      Product Slider
    %div
      Contact
    %div
      = icon('fab', 'facebook-f')
    %div
      = icon('fab', 'twitter')
    %div
      = icon('fab', 'instagram')
