.user_navbar
  .inline-block(class='nav-left')
    #nav-logo.d-flex
      #logo-left
      #logo-right
  .inline-block(class='nav-right')
    / %div
    /   Home
    / %div
    /   Product Slider
    / %div
    /   Contact
    / %div.icon-link
    /   = icon('fab', 'facebook-f')
    / %div.icon-link
    /   = icon('fab', 'twitter')
    %div.icon-link
      %a{:href => "https://www.instagram.com/altitudetosteriacafe", 'target' =>"_blank"}
        = icon('fab', 'instagram')
