= javascript_pack_tag 'general_page'
= stylesheet_pack_tag 'general_page'

#general-page-app
  / 必要的共用組件
  = render 'share/components'

  .content
    .static-body
      .body-description
        .row(style='margin-top: -180px;')
          .col-md-12.col-12
            %h4
              Altitude Tosteria電子商務會員服務使用條款
            %div.mt-4
              歡迎您成為Altitude Tosteria電子商務之會員
            %div.mt-3
              Altitude Tosteria是由泛大陸有限公司（以下稱「本公司」）所經營之電子商務平台，並依據本平台使用條款及其他相關規範或公告提供您相關服務。您第一次購物前，請詳細閱讀並同意本平台使用條款後，再行填寫您的基本資料以完成購物流程。您完成前述購物流程，即表示您已經閱讀、瞭解並同意接受本平台使用條款之全部內容與約定，如不同意本平台使用條款之全部或部分者，請勿填寫基本資料及完成後續購物流程。
            %div.mt-3
              您同意本公司有權因應營運之需求，隨時調整本平台使用條款，除對您已完成之購物權益有重大影響外，本公司將不會個別通知。本平台使用條款之最新內容，將公布於本平台首頁或註冊頁連結，您於每次進行購物前，均可詳細閱讀，以維護您的權益。您於任何修改或變更之後繼續使用本平台服務，將視為您已經閱讀、瞭解並同意接受相關修改及變更。如您不同意本平台使用條款之修改或變更，請停止使用本平台相關服務。
            %div.mt-3
              若您尚未滿二十歲，請您在父、母或監護人的陪同下，詳閱本平台使用條款並同意後，才進行相關購物流程。您及法定代理人或監護人均同意後續在本平台之購物行為，屬於日常生活所必須，並擔保已取得法定代理人或監護人之同意。


            %h6.mt-3
              【帳號、密碼】
            %div.mt-3
              一、本平台為保障交易安全，將以您申請所填寫的電子郵件信箱作為帳號，並由您自行選定一組密碼作為個人登入辨識使用，您可依需要自行變更個人密碼。
            %div.mt-3
              二、您同意就您的帳號與密碼善盡保管與保密之責任，包含但不限於：不洩漏帳戶、密碼予第三人、不與他人共用帳號、密碼、適時登出本平台等。除經證明係第三人違法使用之情形，您須為利用您所設定之正確帳號、密碼登入之使用行為負全部責任，不得任意否認交易。
            %div.mt-3
              三、您聲明並保證您所填寫之基本資料為您正確且完整的資料，不得使用他人資料，如有違反前開保證，本公司有權暫停或終止您的帳號，並拒絕您使用本公司的服務。
            %div.mt-3
              四、您的帳號若有被冒用、盜用之情形，應立即通知本公司，以避免損害擴大。本公司將協助暫停該帳號相關交易及後續利用，並於釐清帳號使用問題後，依您的請求重新設定密碼開通使用。

            %h6.mt-3
              【個人資料保護】
            %div.mt-3
              本公司於您每次交易或參加活動時，為提供本公司相關服務及行銷之目的，蒐集、處理及利用您的個人資料。有關個人資料相關應告知事項，請參閱Altitude Tosteria電子商務隱私權保護政策。
            %div.mt-3
              您同意本公司得不定期發送商品訊息至您的電子郵件位址。若您欲訂閱、停止訂閱或修改相關訂閱設定，可至會員中心變更。
            %div.mt-3
              本公司將遵守個人資料保護相關法令的規定，除依本平台使用條款、隱私權政策或法律規定外，不會違法利用您的個人資料。在下列的情況下，本公司有可能會提供您的個人資料給相關機關，或主張其權利受侵害並提示司法機關正式文件之第三人：
            %div.mt-3
              一、依法令或受檢警調、司法機關或其他有權機關基於法定程序之要求；
            %div.mt-3
              二、在緊急情況下為維護其他客戶或是第三人之合法權益；
            %div.mt-3
              三、為維護本平台的正常運作；
            %div.mt-3
              四、為提供本公司相關服務產生的金流、物流或其他協力廠商或合作廠商必要資訊；
            %div.mt-3
              五、使用者有任何違反政府法令或本平台使用條款之情形。
            %div.mt-3
              本平台可能因廣告或其他合作促銷活動而包含其他平台之連結，您點選該等連結至其他平台，即不適用本平台使用條款及隱私權政策之規範。您須自行判斷各該平台相關條款對您的權益保障是否足夠，再決定是否使用該平台服務。

            %h6.mt-3
              【通知方式】
            %div.mt-3
              您同意您與本公司間有關本平台使用或購物所生之交易，以電子郵件為表示方式。本公司得以電子郵件向您為意思表示之通知，您亦得透過本平台向本公司為意思表示之通知。

            %h6.mt-3
              【交易注意事項】
            %div.mt-3
              本平台所提供之商品數量有限，請您於挑選後儘速完成訂購程序，放入購物車不代表您已完成訂購，若有其他使用者在您完成訂購程序前已經完成訂購程序，系統會通知您該筆商品已售畢。
            %div.mt-3
              您得依據本平台所提供的確認商品數量及價格機制進行下單。本公司對您的下單內容，除於下單後2工作日內附正當理由為拒絕外，為接受下單。但您已付款者，除法律另有規定外，視為交易成立。
            %div.mt-3
              本平台得就特定商品訂定個別消費者每次訂購的數量上限。逾越該數量上限進行下單或同一消費者以複數帳號重覆、多次下單時，本平台僅負對單一消費者依該數量上限出貨之責任。
            %div.mt-3
              本平台商品之運送依您訂購時選擇及指定之方式為之，商品之定價不含運費。惟若您符合一定活動優惠條件時，將依您選擇之商品運送方式，由本公司負擔運費。若您因部分商品退貨致不符合運費優惠條件時，本公司將自您解約退款之金額中收取該筆訂單之原始運送費用(運送費用依下單時平台公告為準)。

            %h6.mt-3
              【智慧財產權】
            %div.mt-3
              本平台所有內容，包括但不限於：商品攝影、模特兒照片、美術插圖、平台架構、程式設計、平台畫面的安排、設計版式、商標、其他標示或資訊等，均屬本公司或相關權利人依法擁有智慧財產權之客體，受著作權法、商標法、專利法、營業秘密法及公平交易法之保護，非經本公司或權利人事先許可或授權，不得任意使用，以免涉侵權或違法之責任。

            %h6.mt-3
              【責任限制】
            %div.mt-3
              您同意因使用本平台或於本平台購物所生之糾紛，除法律另有強制規定者外，以您當次使用或購物所實際支付予本公司之費用之3倍，為賠償責任之上限。您因違反本平台使用條款或其他違約事件所生對本公司之賠償責任，亦同。

            %h6.mt-3
              【服務中止及免責聲明】
            %div.mt-3
              本公司將以符合目前一般可合理期待安全性之方式及技術，維護本平台的正常運作。下列情形本公司有權暫停提供本平台服務的全部或部分，且不負事先通知您的義務，本公司對因而產生任何直接或間接損害，均不負任何賠償或補償的義務：
            %div.mt-3
              一、對本平台相關軟硬體設備進行搬遷、更換、升級、保養或維修；
            %div.mt-3
              二、天災或其他不可抗力因素所導致的服務停止或中斷；
            %div.mt-3
              三、因電信或網站公司服務中斷或其他不可歸責於本公司事由所致的服務停止或中斷；
            %div.mt-3
              四、本平台遭外力影響致資訊顯示不正確、或遭偽造、竄改、刪除或擷取，或致系統中斷或不能正常運作；
            %div.mt-3
              五、使用者有違反本平台使用條款或法令之情形而對該使用者暫停或終止服務；
            %div.mt-3
              六、其他本公司認為有需要暫停或終止服務之情形。
            %div.mt-3
              本公司針對可預知的軟硬體維護計畫，有可能導致網站暫停或終止服務時，將盡可能地於該狀況發生前，以適當方式於本平台公告。

            %h6.mt-3
              【違約處理】
            %div.mt-3
              為維護本平台全體使用者之權益，若您有下列情形之一者，本公司得暫停或終止您的購物資格或拒絕您使用本平台全部或部份服務：
            %div.mt-3
              一、提供錯誤或不實資料進行登錄；
            %div.mt-3
              二、未經本人許可而有盜刷信用卡或其他盜用金融帳號情形；
            %div.mt-3
              三、已出貨包裹因個人因素而退件，或超過本公司所規範未取次數之情形
            %div.mt-3
              (1) 選用超商取貨付款，未於通知期限內至指定門市取件
            %div.mt-3
              (2) 選用宅配貨到付款，物流公司配送時，無人簽收或拒收包裹
            %div.mt-3
              四、經本公司認定因個人因素進行經常性退貨等行為；
            %div.mt-3
              五、對本公司客服部門為騷擾或不當言行；
            %div.mt-3
              六、其他違反本平台使用條款或違反法律規定、未遵循雙方約定、惡意濫用服務權益之客戶。
            %div.mt-3
              您同意本公司依本平台使用條款暫停或終止您的購物資格，或拒絕您使用本平台全部或部份服務時，均無須得到您的同意，且本公司對您或任何第三人均不負任何義務或責任。
            %h6.mt-3
              【本使用條款之修改 】
            %div.mt-3
              本公司保留隨時修改本會員服務使用條款及各該使用規範或約定之權利，修改後的內容，將公佈在會員服務相關網頁上，不另外個別通知使用者。
            %h6.mt-3
              【準據法及管轄權 】
            %div.mt-3
              1. 本使用條款及各該會員服務之相關使用規範及約定，均以中華民國法令為準據法。
            %div.mt-3
              2. 因會員服務、或本使用條款及各該會員服務之相關使用規範及約定所發生之爭議，如因此而訴訟，以台灣台北地方法院為第一審管轄法院。
            %h6.mt-5
              【企業經營者資訊】
            %div
              本網站商品之銷售方為：泛大陸有限公司
            %div
              負責人：Afdel Bernal
            %div
              地址：台北市內湖區成功路三段89號5樓
            %div
              連絡信箱：service@altitudetosteria.com


            %h6.mt-3
