= javascript_pack_tag 'general_page'
= stylesheet_pack_tag 'general_page'

#general-page-app
  / 必要的共用組件
  = render 'share/components'

  #faq-content.content
    .row
      .col-md-3.phone-hide
        %a{:href => "#account-question"}
          %div(style='width: 70%')
            會員常見問題
            %hr
        %a{:href => "#shopping-question"}
          %div(style='width: 70%')
            購物常見問題
            %hr
        %a{:href => "#after-sales"}
          %div(style='width: 70%')
            售後服務
            %hr
        %a{:href => "#einvoice-question"}
          %div(style='width: 70%')
            發票常見問題
            %hr
        %a{:href => "#coffee-question"}
          %div(style='width: 70%')
            咖啡豆常見問題
            %hr

      .col-md-9.col-12
        #account-question
          %h5
            會員常見問題
          %h6.mt-4
            1.為什麼一定要加入會員才可以購物呢？
          %div.mt-3
            \-我們相當重視咖啡豆的品質。加入會員後我們才有足夠的資訊可以提供您訂單追蹤的服務，
            特別是選擇長期配送方案的會員。為了確保您收到的豆子是最新鮮的，讓您清楚我們的作業流程，我們也比較安心。

          %h6.mt-4
            2.要在哪邊追蹤我的訂單呢？
          %div.mt-3
            \-出貨後系統會發送e-mail給您，您可以透過信件內容中的連結追蹤訂單。請確保您留下的e-mail是正確無誤的。

        %hr.mt-5

        #shopping-question.mt-5
          %h5
            購物常見問題
          %h6.mt-4
            1.為什麼會員中心裡取消訂單的按鈕會不見？
          %div.mt-3
            \-下訂單之後都還享有猶豫期的取消資格，但因為咖啡豆是食品類與客製化烘焙，
            一旦開始烘豆後就不能取消訂單了。
          %h6.mt-4
            2.我住在台灣離島上，可以和你們訂購咖啡嗎？
          %div.mt-3
            \-當然歡迎，我們的配送不分本外島，運費計算方式皆相同。只是要提醒外島的朋友，現烘的咖啡豆賞味期較短，
            也可以考慮已充氮處理過的濾掛咖啡。
          %h6.mt-4
            3.有哪些付款方式呢？
          %div.mt-3
            \-目前僅提供信用卡付款服務。安全是我們的首要考量，我們與專業的第三方金流公司合作，
            交易資料皆有加密處理，讓您可以放心購物。
          %h6.mt-4
            4.下單多久才會收到我的咖啡？
          %div.mt-3
            \-我們秉持接單後才烘豆的精神，讓客人嚐到最新鮮的咖啡豆。接單後需要2-3個工作天再配送，
            ，原則上出貨2-3天會到貨（不含例假日），可由我們e-mail提供的訂單碼與連結查詢。
          %h6.mt-4
            5.郵差來投遞的時間我剛好不在家，怎麼辦？
          %div.mt-3
            \-兩次投遞失敗郵局會開招領單，請您在接下來15日內到招領單上述的郵局取件，
            逾期會以退件處理。如果白天都無法抽出時間到郵局，也可以填寫郵局提供的表單更改投遞時間、
            地點到公司或其他地方。
          %h6.mt-4
            6.來不及到郵局取件就被退件了，請問這樣可以退費嗎？
          %div.mt-3
            \-因為是客製化烘焙，所以不提供退貨、退款服務。如果您希望再次收到此商品，
            請聯絡客服，以自行負擔運費的方式再次寄出。

        %hr.mt-5

        #after-sales.mt-5
          %h5
            售後服務
          %h6.mt-4
            1.什麼樣的情況下可以退貨呢？
          %div.mt-3
            \-我們的咖啡豆屬客製化食品類，恕不接受退費、退貨。
            除非您所訂購的商品在未拆封的情況下發現我方重大瑕疵。
          %h6.mt-4
            2.符合退貨條件，下一步？
          %div.mt-3
            \-將瑕疵產品拍照，並以文字敘述清楚，寄送至客服信箱，
            標題「我要退貨」，我們將有客服與您聯繫。
          %br
            \-您所退回的商品，必須保持所有商品、贈品、附件、包裝、及所有附隨文件或資料在出貨當時狀態的完整性，
            如果有實體發票，並應連同發票一併退回及簽署折讓單等相關法令所要求之單據。

          %hr.mt-5

        #einvoice-question.mt-5
          %h5
            發票常見問題
          %h6.mt-4
            1.請問你們有開立電子發票的服務嗎？
          %div.mt-3
            \-目前僅提供手開的二聯或三聯發票，若需要打統一編號請在結帳資料內填妥相關訊息。
          %h6.mt-4
            2.發現收據上的資料有誤，怎麼辦？
          %div.mt-3
            \-請先洽客服，再以掛號方式寄回原收據並提供正確資訊，我們將新開立收據寄出。

        %hr.mt-5

        #coffee-question.mt-5
          %h5
            咖啡豆常見問題
          %h6.mt-4
            1.為什麼我們喜歡定期配送？
          %div.mt-3
            \-讓您不用再煩惱何時要補充咖啡，時間到了，自動送上門。
          %h6.mt-4
            2.可以先幫我研磨豆子嗎？
          %div.mt-3
            \-暫不提供磨豆子的服務。我們建議您每次沖煮時現磨，
            研磨的顆粒大小也是影響咖啡口感的關鍵之一，不妨在家裡多試幾次，煮出自己最愛的咖啡。
          %h6.mt-4
            3.單品咖啡豆和特選配方豆有什麼不同？
          %div.mt-3
            \-單品咖啡注重的是這支咖啡的特色風味，喝它獨特的個性;
            配方豆則是集結不同特色的豆子，融合成新風味。兩種咖啡豆都可以品出不同層次的驚喜。
          %h6.mt-4
            4.可以選擇咖啡豆的烘焙程度嗎？
          %div.mt-3
            \-我們經過了多次實驗決定出了每個豆子的烘焙程度，目前是我們最喜歡的。
            但我們也很樂意聽聽您的想法，不斷不斷地嘗試也是樂趣之一。
          %h6.mt-4
            5.你們為什麼只有巴拿馬的單品咖啡？
          %div.mt-3
            \-我們來自巴拿馬，當然先介紹這些讓我們最驕傲的豆子，
            我們想分享這些咖啡，也關於我們的生活、歷史，我們的家族與咖啡息息相關。
          %h6.mt-4
            6.為什麼定期配送的咖啡豆只有種類可以選？
          %div.mt-3
            \-我們會不定期進口更多種類的咖啡豆，以現有最新鮮的豆子給您不同驚喜。

          %hr.mt-5
