.modal.fade.product-modal#go-bold-modal{:role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-body
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        .container-fluid
          .row
            .col-md-8
              .product-img
            .col-md-4
              .product-info
                %h4
                  Go bold!
                %div.font-13
                  Blend Coffee | 特選配方豆
                %div.mt-3.font-13
                  果酸風味前調，堅果香中調，綿密口感，適合搭配鮮奶一同享用。
                %div.mt-3.font-13
                  Go Bold!是街區裡的酷小子，他溫暖、給人安慰，圍繞著你展現他的才華卻又平易近人。我們和巴拿馬咖啡小農的關係，就像你和這位酷小子，相信並期待他能發光發熱，因為你看得見他的豐富、品得出他的細膩。這組微妙、柔和又厚實的中焙豆與鮮奶油完美搭配，加入一 點點牛奶會使他溫柔，或是享用純粹的黑咖啡更能品出他的層次。
                %div.mt-5.font-13
                  FB / IG / Twitter
