.modal.fade.product-modal#qk-modal{:role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-body
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        .container-fluid
          .row
            .col-md-8
              .p3-img.product.product-img
            .col-md-4
              .product-info
                %h4
                  QK
                %div.font-13
                  Single Origin Coffee
                %div.mt-3.font-13
                  單一產區 | 巴拿馬 | 水洗
                %div.font-13
                  Single Origin | Panama | Wash
                %div.font-13
                  海拔：1300-1600m
                %div.mt-3.font-13
                  富含檸檬果香及太妃糖的風味、絲絨般滑順的口感，餘韻表現深長。
                %div.mt-3.font-13
                  百無聊賴的夏日午後下著暴雨，悶熱濕重的感覺卻沒有隨之消失，這時候你會想拉上窗簾，在陰暗的房裡QK一下。檸檬的消暑，太妃糖的包覆如輕柔的涼被，喝完這杯咖啡，像是從一場美夢中醒來，你會久久地掛著微笑，記得這種美好。
                %div.mt-5.font-13
                  FB / IG / Twitter
