.modal.fade.product-modal#timeless-modal{:role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-body
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        .container-fluid
          .row
            .col-lg-8.col-md-12
              .p1-img.product.product-img
            .col-lg-4.col-md-12
              .product-info
                %h4
                  Timeless
                %div.font-13
                  Single Origin Coffee
                %div.mt-3.font-13
                  單一產區 | 巴拿馬 | 蜜處理
                %div.font-13
                  Single Origin | Panama | Caturra Honey
                %div.font-13
                  海拔：1300-1600m
                %div.mt-3.font-13
                  香味細膩，富含葡萄柚及柑橘香氣，焦糖的香甜，餘韻悠長清新。
                %div.mt-3.font-13
                  Timeless是我們單品咖啡中的微笑保證，她迷人的風味和芳香能點亮你的生活。 Timeless也是我們創辦人的最愛。請和我們一起耐心地品嘗，彷彿是漫步在大自然中忽然靜止的時間，這永恆的寧靜將帶領你體現從未感受過的柑橘、柚香與焦糖化的香甜。非常推薦手沖或法式濾壓，適合搭配少許的牛奶或享受黑咖啡的原味。
