
/* color */

$mc: #666;
$border: #e3e3e3;

$black: #505050;

$brown: #954010;

$gray:  #f5f5f5;
$gray1: #838383;
$gray2: #505050;

$red:  #dd1321;
$red1: #cd4e38;

$blue:  #799eb2;
$blue1: #4287be;
$blue2: #286494;

$green: #78b65b;


$green2: #a0d7e0;


$gold: #d0bd93;

