// 按鈕
.btn {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition: all 0.3s;
  border-radius: 0;
}

.button-full {
  cursor: pointer;
  text-align: center;
  width: 100%;
  color: #777;
  background: #d7d7d8;
  padding: 5px 25px;
  &:hover {
    background: darken(#d7d7d8, 5%);
  }
}

.button-normal {
  cursor: pointer;
  display: inline-block;
  background: #999;
  color: #fff;
  padding: 5px 25px;
  text-align: center;
  transition: all 0.3s;
  &:hover {
    background: darken(#999, 10%);
  }
}

.btn-wb {
  color: #fff;
  padding: 6px 18px;
  border: 2px solid #fff;
  min-width: 100px;
  &:hover {
    color: $blood;
    background: #fff;
  }
}

.btn-facebook {
  background: #4267b2;
  color: #fff;
  border-radius: 3px;
  &:hover {
    background: darken(#4267b2, 5%);
  }
}

// tag

.red-tag {
  display: inline-block;;
  padding: 5px 15px;
  background: #e65e00;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
}

// border
.border-bottom {
  border-bottom: 1px solid #fff;
}
