// 按鈕

.button {
  cursor: pointer;
  color: #777;
  background: #d7d7d8;
  padding: 5px 25px;
  text-align: center;
}

.button-normal {
  cursor: pointer;
  display: inline-block;
  background: #999;
  color: #fff;
  padding: 5px 25px;
  text-align: center;
  transition: all 0.3s;
}

// border
.border-bottom {
  border-bottom: 1px solid #fff;
}
