.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-move {
  transition: opacity 1s;
}


// opacity
.opacity-enter-active, .opacity-leave-active {
  transition: opacity .5s;
}

.opacity-enter, .opacity-leave-to {
  opacity: 0;
}

// slide X

.slide-X-enter-active {
  transition: all .3s ease;
}
.slide-X-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-X-enter, .slide-X-leave-to
/* .slide-X-leave-active for below version 2.1.8 */ {
  transform: translateX(-10px);
  opacity: 0;
}

// slide Y

.slide-Y-enter-active {
  transition: all .3s ease;
}
.slide-Y-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-Y-enter, .slide-Y-leave-to
/* .slide-Y-leave-active for below version 2.1.8 */ {
  transform: translateY(-10px);
  opacity: 0;
}

// list transition

.list-item {
  transition: all 1s;
}

.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}

.list-leave-active {
  position: absolute;
}

