#check-out-app {

  #progress-bar {
    margin-top: 100px;
    justify-content:center;
    div {
      width: 33.333%;
      border: 1px solid #3a616f;
      padding: 10px 30px;
      color: #3a616f;
    }
    div.current {
      background: #3a616f;
      color: #fff;
    }
  }

  #step1 {
    #period-order-box {
      margin-top: 50px;
      padding: 10px;
      border: 1px solid #999997;
    }
    #free-shopping-info {
      background: #c8aa77;
      color: #fff;
      width: 100px;
      height: 100px;
      font-size: 13px;
      border-radius: 100%;
      flex-direction:column;
      align-items: center;
      justify-content:center;
    }
    #order-cost-info-title {
      flex-direction: column;
    }
    #order-cost-info-value {

    }
  }

  #step2 {
    #shipping-address-box {
      margin-top: 50px;
    }
  }

  #step3 {
    #pay-box {
      flex-direction:column;
      align-items: center;
    }
  }

  .payment-type-box {
    width: 150px;
    height: 76px;
    line-height: 76px;
    border: 2px solid #3a616f;
    text-align: center;
    background: #3a616f;
    border-radius: 10px;
    color: #fff;
  }

  .payment-type-box.seleted {
    border: 2px solid #3a616f;
    background: #fff;
    color: #3a616f;
  }

}

@media screen and (max-width: 767.98px) {
  #check-out-app {
    padding: 0 10px;
    margin-bottom: 50px;

    #free-shopping-info.d-flex {
      margin-top: 30px;
    }

    #cost-info-box {
      margin-top: 30px;
    }
  }
}
