#footer {
  justify-content:flex-start;
  align-items:center;
  width: 100%;
  height: 170px;
  #confact {
    display: inline-block;
    margin-top: 50px;
    width: 330px;
    height: 70px;
    margin-left: 150px;
    div {
      line-height: 35px;
    }
  }
  #follow {
    display: inline-block;
    margin-top: 50px;
    width: 250px;
    height: 70px;
    div {
      line-height: 35px;
    }
  }
}

@media screen and (max-width: 991.98px)  {
  #footer {
    #confact {
      display: block;
      margin-top: 25px;
      margin-left: 15px;
    }
    #follow {
      display: block;
      margin-top: 0px;
      margin-left: 15px;
    }
  }
}

@media screen and (max-width: 767.98px) {

}

#info {
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-size: 12px;
  background: #fff;
  padding: 0 20px;
}
