#home_page_app {

  .modal-lg {
    max-width: 940px;
  }

  // 首頁大圖
  #home-img {
    width: 100%;
    height: 53.1vw;
    background-image: image-url("home2.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media screen and (max-width: 767.98px) {
    #home-img {
      width: 100vw;
      height: 150vw;
    }
  }

// #home-shop
  #home-shop {
    width: 100%;
    height: 43vw;
    min-height: 550px;
    display: flex;
    justify-content:space-around;
    align-items:center;
    .product {
      width: 25vw;
      height: 25vw;
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      &:hover {
        .quick-show  {
          visibility:visible;
          opacity: 1;
        }
      }
      .quick-show {
        opacity: 0;
        visibility:hidden;
        transition: opacity 0.5s;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        line-height:  50px;
        text-align: center;
        cursor: pointer;
        background: #555;
        color: #fff;
      }
    }
  }

  .p1-img {
    background-image: image-url("p1.jpg");
  }

  .p2-img {
    background-image: image-url("p2.jpg");
  }

  .p3-img {
    background-image: image-url("p3.jpg");
  }

  @media screen and (max-width: 991.98px) {
    #home-shop {
      min-height: 0;
      padding: 150px 0;
      .product {
        width: 30vw;
        height: 30vw;
      }
    }
  }

  @media screen and (max-width: 767.98px) {
    #home-shop {
      min-height: 0;
      height: auto;
      padding: 50px 0;
      display: flex;
      flex-wrap: wrap;
      .product {
        width: 80vw;
        height: 80vw;
        margin-top: 20px;
      }
    }
  }

  // quick show modal
  .product-modal {
    .modal-body {
      background: #d7d7d7;
      padding-top: 30px;
      padding-bottom: 130px;
      .product-img {
        max-width: 550px;
        max-height: 550px;
        width: 45vw;
        height: 45vw;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
      }
      .product-info {
        padding-top: 5vh;
      }
    }
  }

  @media screen and (max-width: 991.98px) {
    .product-modal {
      .modal-body {
        .product-img {

        }
        .product-info {
          padding-top: 50px;
        }
      }
    }
  }

  @media screen and (max-width: 767.98px) {
    .product-modal {
      .modal-body {
        .product-img {
          width: 70vw;
          height: 70vw;
        }
        .product-info {
          padding-top: 30px;
        }
      }
    }
  }


  // 試用表單
  #customer-info {
    justify-content:center;
    align-items:center;
    width: 100%;
    padding: 80px 150px;
    background: $brown;
    #info-form {
      width: 560px;
      height: 390px;
    }
    #trial-submit {
      padding: 6px;
      &:hover {
        border-bottom: 1px solid #fff;
      }
    }
  }

  @media screen and (max-width: 991.98px) {
    #customer-info {
      height: auto;
      padding: 20px 20px;
      #info-form {
        width: auto;
        height: auto;
      }
    }
  }


  // 改變預設placeholder文字顏色

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    #fff;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    #fff;
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    #fff;
     opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color:    #fff;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
     color:    #fff;
  }

  ::placeholder { /* Most modern browsers support this now. */
     color:    #fff;
  }

}
