#home_page_app {

  .modal-lg {
    max-width: 940px;
  }

  #home-img {
    width: 100%;
    height: 53.1vw;
    background-image: image-url("home2.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  #home-shop {
    width: 100%;
    height: 43vw;
    min-height: 550px;
    background: #999;
    display: flex;
    justify-content:space-around;
    align-items:center;
    .product {
      width: 265px;
      height: 265px;
      background: #fff;
      position: relative;
      &:hover {
        .quick-show  {
          visibility:visible;
          opacity: 1;
        }
      }
      .quick-show {
        opacity: 0;
        visibility:hidden;
        transition: opacity 0.5s;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        line-height:  50px;
        text-align: center;
        cursor: pointer;
        background: #555;
        color: #fff;
      }
    }
  }

  #customer-info {
    width: 100%;
    height: 50vw;
    min-height: 640px;
    padding: 100px 150px;
    background: #ad7820;
    #info-form {
      width: 460px;
      height: 390px;
    }
  }

  // quick show modal
  #product-modal {
    .modal-body {
      background: #d7d7d7;
      padding-top: 30px;
      padding-bottom: 130px;
      .product-img {
        max-width: 600px;
        max-height: 600px;
        width: 45vw;
        height: 45vw;
        background: #426c7a;
      }
      .product-info {
        padding-top: 130px;
      }
    }
  }


  // 改變預設placeholder文字顏色

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    #fff;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    #fff;
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    #fff;
     opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color:    #fff;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
     color:    #fff;
  }

  ::placeholder { /* Most modern browsers support this now. */
     color:    #fff;
  }

}
