.user_navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  display: flex;
  align-items:center;
  background: rgba(255, 255, 255, 0);
  z-index: 1000;
  .nav-left {
    position: absolute;
    left: 0;
    #nav-logo {
      align-items:center;
      margin-left: 30px;
      width: 245px;
      height: 80px;
      #logo-left {
        width: 70px;
        height: 70px;
        background-image: image-url("Logo-01.png");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
      }
      #logo-right {
        width: 160px;
        height: 70px;
        margin-left: 15px;
        background-image: image-url("Logo-03.png");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  .nav-right {
    position: absolute;
    right: 10px;
    display:flex;
    line-height: 80px;
    align-items: center;
    .icon-link {
      a {
        i {
          color: #999;
          transform: scale(1.5);
          transition: all 0.6s;
          &:hover {
            transform: scale(1.8);
          }
        }
        #cart  {
          transform: scale(1.8);
        }
      }
    }
    #cart-count {
      div {
        background-color: #999;
        color: #fff;
        width: 27px;
        height: 27px;
        border-radius: 1000px;
        line-height: 27px;
        font-size: 18px;
      }
    }
    #about-box {
      position: relative;
      .links {
        position: absolute;
        top: 80%;
        left: 10px;

        display: none;
        height: auto;
        width: 200px;
        padding: 10px 30px;
        background-color: #fff;
        z-index: 20;
        line-height: 40px;
        a {
          font-size: 15px;
        }
      }
      &:hover {
        .links {
          display: flex;
          flex-direction:column;
        }
      }

    }

  }

}

@media screen and (max-width: 991.98px) {
  .user_navbar {
    .nav-left {
      #nav-logo {
        margin-left: 30px;
        #logo-right {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 767.98px) {
  .user_navbar {
    .nav-left {
      #nav-logo {
        #logo-left {
          width: 45px;
          height: 45px;
        }
        #logo-right {
          display: none;
        }
      }
    }
  }
}



// 手機選單

#navbar-option-modal {
  position: fixed;
  top: 0px;
  height:100vh;
  width:100vw;
  background: #e8e6e6;
  z-index: 500;
  padding-top: 100px;
  .nav-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    .bottom-line {
      width: 60vw;
      padding: 15px 0;
      border-bottom: 1px solid #9c9b9b;
      a {
        font-size: 20px;
        color: #666;
        .fa-plus {
          position: absolute;
          left:5px; top: 6px;
          color: #888;
        }
      }
    }
  }
}


// 漢堡條

 .bar {
   display: block;
   height: 3px;
   width: 28px;
   background: #555;
   margin: 5px auto;
 }

.con {
  width: auto;
  margin: 0;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

 .middle {
   margin: 0 auto;
 }

 .bar {
   -webkit-transition: all .7s ease;
   -moz-transition: all .7s ease;
   -ms-transition: all .7s ease;
   -o-transition: all .7s ease;
   transition: all .7s ease;
 }

  .clicked > .top {
   -webkit-transform: translateY(8px) rotateZ(45deg);
   -moz-transform: translateY(8px) rotateZ(45deg);
   -ms-transform: translateY(8px) rotateZ(45deg);
   -o-transform: translateY(8px) rotateZ(45deg);
   transform: translateY(8px) rotateZ(45deg);
 }

  .clicked > .bottom {
   -webkit-transform: translateY(-8px) rotateZ(-45deg);
   -moz-transform: translateY(-8px) rotateZ(-45deg);
   -ms-transform: translateY(-8px) rotateZ(-45deg);
   -o-transform: translateY(-8px) rotateZ(-45deg);
   transform: translateY(-8px) rotateZ(-45deg);
 }

  .clicked > .middle {
   width: 0;
 }


// plus

.plus-container {
  position: absolute;
  width: 50px;
  height: 50px;
  left:5px;
  top: 5px;
}

.plus-box {
  position: relative;
  width: 20px;
  height: 20px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    background-color: #555;
    transition: transform 0.25s ease-out;
  }

  /* Vertical line */
  &:before{
    top: 0;
    left: 50%;
    width: 3px;
    height: 100%;
    margin-left: -2px;
  }

  /* horizontal line */
  &:after{
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    margin-top: -2px;
  }
}

.clicked .plus-box {
  cursor: pointer;
  &:before{ transform: rotate(90deg); }
  &:after{ transform: rotate(180deg); }
}


