#general-page-app {

  .content {
    padding: 70px 10%;
    .static-head {
       flex-direction:column;
       justify-content:center;
       align-items:center;

       .title {
          font-size: 28px;
          color: #3a616f;
          font-weight: bold;
       }

       .decoration-line {
          margin-top: 30px;
          width: 25px;
          border-bottom: 4px solid #708a93;
       }
    }

    .static-body {
      margin-top: 100px;
      .body-img {
        width: 30vw;
        height: 30vw;
      }
      #people-img {
        background-image: image-url("people.jpg");
      }
      #farm-img {
        background-image: image-url("farm.jpg");
      }
      #goals-img {
        background-image: image-url("goals.jpg");
      }
      #history-img {
        width: 80vw;
        height: 41vw;
        background-image: image-url("history.png");
      }

      .body-description {
        .description-title {
          font-size: 18px;
          font-weight: 500;
        }
        .description-body {
          font-size: 15px;
        }
      }
    }
  }

}

@media screen and (max-width: 767.98px) {
  #general-page-app {
    .content {
      padding: 70px 0;
      .static-head {

      }

      .static-body {
        .body-img {
          width: 100vw;
          height: 100vw;
        }
        #history-img {
          width: 100vw;
          height: 51.25vw;
        }
        .body-description {
          padding: 50px 30px;
        }
      }
    }
  }
}
