#footer
  #confact
    %div.font-13
      台北市 松山區 八德路三段 71巷15號3F
    %div.font-13
      Bade Rd. SongShan Dist, Taipei City 105, Taiwan
  #follow
    %div.font-13
      PANGEA INC.
    %div.font-13
      Hola@Altitudetosteria.com
    %div.font-13(style='visibility: hidden;')
      / %span
      /   = icon('fab', 'facebook-f')
      / %span.ml-2
      /   = icon('fab', 'twitter')
      / %span.ml-2
      /   = icon('fab', 'instagram')
#info
  © 2018 Altitude Tosteria
  %div(style='float: right')
    本公司遵守「個人資料保護法」之規範
