<!DOCTYPE html>
<html>
  <head>
    <title>Ctcm</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin', media: 'all' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag 'admin_application' %>
  </body>
</html>
