<!DOCTYPE html>
<html>
  <head>
    <title>Altitude Tosteria</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag  'application', media: 'all' %>
  </head>

  <body class="container-fluid p-0">
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
