<!DOCTYPE html>
<html>
  <head>
    <title>Altitude Tosteria</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag  'application', media: 'all' %>
  </head>

  <body class="container-fluid p-0">
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v3.1&appId=1946477608986227&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'))
    </script>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
